In [1]:
import pandas as pd
import numpy as np
import os
import kaggle
import sqlalchemy
import pymysql
from sqlalchemy import create_engine

In [2]:
# Kaggle API configuration
kaggle.api.authenticate()
dataset = 'ankitbansal06/retail-orders'
kaggle.api.dataset_download_files(dataset, path='data/', unzip=True)

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders

In [3]:
# Load the data
df = pd.read_csv('data/orders.csv')

In [4]:
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [5]:
# Data Cleaning
def clean_data(df):
    # Dropping duplicate rows
    df = df.drop_duplicates()
    
    # Handling missing values
    df = df.fillna(method='ffill')  # Forward fill for missing values
    
    # Convert date columns to datetime
    df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce') # errors for NaT
    
    # Remove rows with invalid dates
    df = df[df['Order Date'].notnull()]
    
    return df

df = clean_data(df)

In [6]:
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [7]:
# Pre-processing
def preprocess_data(df):
    # Standardizing column names
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    
    # Encoding categorical variables
    df = pd.get_dummies(df, columns=['category'], drop_first=True)
    
    return df

df = preprocess_data(df)

In [8]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,sub_category,product_id,cost_price,list_price,quantity,discount_percent,category_Office Supplies,category_Technology
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Bookcases,FUR-BO-10001798,240,260,2,2,False,False
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Chairs,FUR-CH-10000454,600,730,3,3,False,False
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Labels,OFF-LA-10000240,10,10,2,5,True,False
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Tables,FUR-TA-10000577,780,960,5,2,False,False
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Storage,OFF-ST-10000760,20,20,2,5,True,False

In [9]:
# Creating sales as an intermediate step
df['sales'] = df['list_price']*df['quantity']

In [10]:
# Data Transformation
def transform_data(df):
    # Create new features
    df['order_month'] = df['order_date'].dt.month
    df['order_day'] = df['order_date'].dt.day
    df['order_weekday'] = df['order_date'].dt.weekday
    df['order_hour'] = df['order_date'].dt.hour
    
    # Log transformation on sales column to reduce skewness
    df['log_sales'] = np.log1p(df['sales'])
    
    return df

df = transform_data(df)

In [11]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'sub_category', 'product_id',
       'cost_price', 'list_price', 'quantity', 'discount_percent',
       'category_Office Supplies', 'category_Technology', 'sales',
       'order_month', 'order_day', 'order_weekday', 'order_hour', 'log_sales'],
      dtype='object')

In [12]:
# Feature Engineering
def feature_engineering(df):
    
    df['profit']=df['list_price']-df['cost_price']
    # Sales added earlier as a feature
    return df

df = feature_engineering(df)

In [15]:
from sqlalchemy import create_engine

def load_to_sql(df, table_name):
    # SQLAlchemy engine for MySQL
    engine = create_engine('mysql+pymysql://root:cfdl%402021@localhost/etedap_1')
    
    # Load the DataFrame into MySQL
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)

# Load the final dataframe to MySQL
load_to_sql(df, 'processed_orders')

print("Data ingestion, cleaning, preprocessing, transformation, feature engineering, and loading to MySQL completed successfully.")

Data ingestion, cleaning, preprocessing, transformation, feature engineering, and loading to MySQL completed successfully.